#deisyProfilePic {
  border-radius: 50%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.links-container {
  height: 70px;
  margin: 10px;
  background-color: black;
  width: 100%;
  display: block;
}

.links-container-button {
  background-color: opaque;
}

footer {
  text-align: left;
  height: 70px;
  width: 100%;
  background-color: rgb(209, 240, 234);
  text-align: left;
  font-size: 10px;
}

.contactme {
  color: antiquewhite;
}
